.header
  .header__container
    .header__left-part
      .header__search
        include ./search
      .header__menu
        include ./menu
    .header__center-part
      include ./add
    .header__right-part
      .header__notification
        include ./notification
      .header__dropdown
        include ./dropdown
