nav.menu
  ul.menu__list
    li.menu__item
      a(href="javascript:;").menu__link.menu__link--active Деньги
    li.menu__item
      a(href="javascript:;").menu__link Контакты
    li.menu__item
      button.menu__link.menu__link--select Услуги
