.checking-account {
  text-align: center;
  font-weight: 300;
}

.checking-account__sum  {
  font-size: 46px;
  color:#CF4545 ;
  margin-bottom: 6px;
}
.checking-account__number {
  font-size: 16px;
  color: #000000;
  margin-bottom: 12px;

  span {
    color: #828A96;
    margin-right: 6px;
  }
}

.checking-account__status {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 153px;
  height: 19px;
  background-color: #81C624;
  border-radius: 125px;
  font-size: 11px;
  font-weight: 500;
  color: #ffffff;
}
