.popup-content {
  max-width: 546px;
  width: 100%;
  margin: 0 auto;
  padding-top: 26px;
}

.popup-content__checking-account {
  margin-bottom: 16px;
}

.popup-content__card {
  margin-bottom: 20px;
}
