* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, select, textarea {
  font-family: inherit;
}

body {
  font-family: 'Roboto';
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;

  &:not(:disabled) {
    cursor: pointer;
  }
}

img {
  display: block;
}
