.card
  .card__header
    .card-header__requisites
      include ./requisites
    .card-header__features
      include ./feature
  .card__footer
    .card__desc
      | Оплата за партию ромашек и одуванчиков по договору
      | 14023-023 от 14.05.2015 г. Сумма 11430-00. В том числе НДС 18% - 1450,00 ₽
