.commission
  p.commission__text Комиссия банка: 70 р.
  p.commission__text
    | Размер комиссии рассчитан автоматически согласно тарифу вашей компании и является ознакомительным.
    | Точный размер комиссии определяется после передачи платежного документа на обработку в банк.

//- для тестирования скролла
.commission
  p.commission__text Комиссия банка: 70 р.
  p.commission__text
    | Размер комиссии рассчитан автоматически согласно тарифу вашей компании и является ознакомительным.
    | Точный размер комиссии определяется после передачи платежного документа на обработку в банк.
.commission
  p.commission__text Комиссия банка: 70 р.
  p.commission__text
    | Размер комиссии рассчитан автоматически согласно тарифу вашей компании и является ознакомительным.
    | Точный размер комиссии определяется после передачи платежного документа на обработку в банк.
.commission
  p.commission__text Комиссия банка: 70 р.
  p.commission__text
    | Размер комиссии рассчитан автоматически согласно тарифу вашей компании и является ознакомительным.
    | Точный размер комиссии определяется после передачи платежного документа на обработку в банк.
.commission
  p.commission__text Комиссия банка: 70 р.
  p.commission__text
    | Размер комиссии рассчитан автоматически согласно тарифу вашей компании и является ознакомительным.
    | Точный размер комиссии определяется после передачи платежного документа на обработку в банк.
.commission
  p.commission__text Комиссия банка: 70 р.
  p.commission__text
    | Размер комиссии рассчитан автоматически согласно тарифу вашей компании и является ознакомительным.
    | Точный размер комиссии определяется после передачи платежного документа на обработку в банк.
.commission
  p.commission__text Комиссия банка: 70 р.
  p.commission__text
    | Размер комиссии рассчитан автоматически согласно тарифу вашей компании и является ознакомительным.
    | Точный размер комиссии определяется после передачи платежного документа на обработку в банк.
