.popup-footer
  ul.popup-footer__buttons
    li.popup-footer__item
      button.toolbar-btn
        img.toolbar-btn__icon(src="images/icons/repeat-icon.svg", alt="repeat-icon")
        .toolbar-btn__text Повторить
    li.popup-footer__item
      button.toolbar-btn
        img.toolbar-btn__icon(src="images/icons/favorites-icon.svg", alt="favorites-icon")
        .toolbar-btn__text В избранное
    li.popup-footer__item
      button.toolbar-btn
        img.toolbar-btn__icon(src="images/icons/ask-icon.svg", alt="ask-icon")
        .toolbar-btn__text Спросить
    li.popup-footer__item
      button.toolbar-btn
        img.toolbar-btn__icon(src="images/icons/actions-icon.svg", alt="actions-icon")
        .toolbar-btn__text Действия
