.requisites
  .requisites__title ООО "Родные просторы"
  .requisites__text ИНН: 22341497819132
  .requisites__text Банк: ОАО Сбербанк
  .requisites__text БИК: 2352362365
  .requisites__text Счет: 40802810970010000395
